* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  background: map-get($colors, background);
  color: map-get($colors, text);
  margin: 0;
  padding: 0;
}
